# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_4.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_4.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_12_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_12_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_12_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_12_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_12_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_12_4.xml
.idea/libraries/Maven__com_google_code_findbugs_annotations_2_0_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_guava_guava_18_0.xml
.idea/libraries/Maven__com_h2database_h2_1_4_200.xml
.idea/libraries/Maven__com_infradna_tool_bridge_method_annotation_1_13.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_mysema_codegen_codegen_0_6_8.xml
.idea/libraries/Maven__com_mysema_commons_mysema_commons_lang_0_2_4.xml
.idea/libraries/Maven__com_querydsl_querydsl_apt_4_4_0.xml
.idea/libraries/Maven__com_querydsl_querydsl_codegen_4_4_0.xml
.idea/libraries/Maven__com_querydsl_querydsl_core_4_4_0.xml
.idea/libraries/Maven__com_querydsl_querydsl_jpa_4_4_0.xml
.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_12.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_4_0_3.xml
.idea/libraries/Maven__io_github_classgraph_classgraph_4_8_83.xml
.idea/libraries/Maven__io_springfox_springfox_bean_validators_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_boot_starter_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_core_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_data_rest_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_oas_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_schema_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_spi_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_spring_web_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_spring_webflux_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_spring_webmvc_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_swagger2_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_common_3_0_0.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_ui_3_0_0.xml
.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_2_1_2.xml
.idea/libraries/Maven__io_swagger_core_v3_swagger_models_2_1_2.xml
.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
.idea/libraries/Maven__junit_junit_4_13_2.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_22.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_22.xml
.idea/libraries/Maven__net_minidev_accessors_smart_2_4_7.xml
.idea/libraries/Maven__net_minidev_json_smart_2_4_7.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_14_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_14_1.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_50.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_50.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_50.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_7.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_19_0.xml
.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
.idea/libraries/Maven__org_eclipse_jdt_core_compiler_ecj_4_3_1.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_4.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_4.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_2.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_32_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_27_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_2_3_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_2.xml
.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_7_2.xml
.idea/libraries/Maven__org_mapstruct_mapstruct_1_4_1_Final.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_9_0.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_9_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_16.xml
.idea/libraries/Maven__org_reflections_reflections_0_9_9.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_32.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_32.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_5_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_5_3.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_5_3.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_5_3.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_2_0_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_2_0_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_restdocs_spring_restdocs_core_2_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_restdocs_spring_restdocs_mockmvc_2_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_aspects_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_context_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_core_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_orm_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_test_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_web_5_3_9.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_9.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_8_2.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_28.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
spring-jpa-querydsl-board.iml
/target/generated-snippets/free-board-test/t05_delete/curl-request.adoc
/target/generated-sources/annotations/com/minam/space/board/free/mapper/FreeBoardMapperImpl.java
/target/generated-snippets/free-board-test/t05_delete/http-request.adoc
/target/generated-snippets/free-board-test/t05_delete/http-response.adoc
/target/generated-snippets/free-board-test/t05_delete/httpie-request.adoc
/target/generated-sources/java/com/minam/space/member/entity/QMember.java
/target/generated-snippets/free-board-test/t05_delete/request-body.adoc
/target/generated-snippets/free-board-test/t05_delete/response-body.adoc
/target/generated-snippets/free-board-test/t04_modify/curl-request.adoc
/target/generated-snippets/free-board-test/t04_modify/http-request.adoc
/target/generated-snippets/free-board-test/t04_modify/http-response.adoc
/target/generated-snippets/free-board-test/t04_modify/httpie-request.adoc
/target/generated-snippets/free-board-test/t04_modify/request-body.adoc
/target/generated-snippets/free-board-test/t04_modify/response-body.adoc
